################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
MVVM_Template/bin/
MVVM_Template/obj/
Model/bin/
Model/obj/
ViewModel/bin/
ViewModel/obj/
